    body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
  }
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      color: #1abc9c; 
  }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#e8fffa;
  opacity: 0.92;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color:#1abc9c;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color:#068269;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  color:black;
  font-size: 20px;
}

@media screen and (max-height: 450px) {
.overlay a {font-size: 20px}
.overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
}
}
span{
  font-size:42px;cursor:pointer;color:#1abc9c;margin-left:27px;
}